* {
    font-family: 'Kanit', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    background-color: black;
}

.section1 {
    
    background: linear-gradient(rgba(20, 18, 18, 0.0), rgba(20, 18, 18, 0.0)), url(https://i.pinimg.com/originals/bf/b2/d3/bfb2d347f26836bff836e0279af07bd2.gif) fixed;
    height: 683px;
    padding-top: 30px;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.navLogo img {
    width: 100px;  
}

.ham {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    display: none;
    margin-top: 2.5rem;
}
.ham:focus {
    outline: none;
}

.navTitle {
    display: flex;
    gap: 30px;
    color: white;
    margin-left: -15rem;
    margin-top: 2.5rem;
}
a { 
    color: inherit; 
} 

.underline {
    display: inline-block;
    position: relative;
    transition: all 0.5s ease;
    font-weight: bolder;
}
.underline:hover {
    cursor: pointer;
}
.underline::after {
    content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #C7A987;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.underline:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
    margin-bottom: -5px;
}


/* Section 2 */

.section2 {
    padding-top: 4rem;
}

.marsTitle {
    color: white;
    text-align: center;
}
.marsTitle h1 {
    font-weight: bolder;
    font-size: 4rem;
}
.marsTitle h3 {
    font-weight: lighter;
    font-size: 2rem;
    color: #C7A987;
}

.marsImage img {
    width: 500px;
    margin-top: 2rem;
    z-index: 3;
}
.marsDecr {
    color: white;
    width: 700px;
    font-size: 1.5rem;
}
.marsDecr h3 {
    font-weight: bold;
}
.marsDecr h5 {
    margin-top: 50px;
    font-weight: lighter;
    font-size: 1rem;
    text-decoration: underline;
    text-decoration-color: #C7A987;
    text-underline-offset: 5px;
}
.marsDecr h4 {
    margin-top: 20px;
    display: inline-block;
    padding: 17px;
    border: 2px solid #87a5c7;
    border-radius: 5px;
    font-size: 1.5rem;
    transition: all 0.5s ease;
}
.marsDecr h4:hover {
    cursor: pointer;
    background-color: #87b6c7;
}
.marsDecr #marginLow {
    margin-bottom: 2rem;
}
.planetFlex {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.choosePlanet {
    border: 2px solid #3ba289;
    color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 1rem;
    background-color: transparent;
    margin-bottom: 30px;
    transition: all 0.5s ease;
    border-radius: 5px;
}
.choosePlanet:hover {
    color: #87b6c7;
    cursor: pointer;
}

.surprise{
    position: relative;
    width: 150px;
    float:left;
    margin-top:16px;
    cursor: pointer;
}

.surprise:hover{
    animation-name: surprise;
        -webkit-animation-name: surprise;
        -moz-animation-name: surprise;
    animation-duration: .8s;
        -webkit-animation-duration: .8s;
        -moz-animation-duration: .8s;
}

    @keyframes surprise
    {
        0% {transform: rotate(0deg) scale(1,1);;}
        10% {transform: rotate(7deg) scale(2,2);}
        20% {transform: rotate(-7deg) scale(2,2);}
        30% {transform: rotate(7deg) scale(2,2);}
        40% {transform: rotate(-7deg) scale(2,2);}
        50% {transform: rotate(7deg) scale(2,2);}
        60% {transform: rotate(-7deg) scale(2,2);}
        70% {transform: rotate(7deg) scale(2,2);}
        80% {transform: rotate(-7deg) scale(2,2);}
        90% {transform: rotate(7deg) scale(2,2);}
        100% {transform: rotate(0deg) scale(1,1);}
    }